/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
  font-family: "Dancing Script", cursive !important;
  background-image: url('images/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Background image for the Home page */
#Home{
  background-image: url('images/bg.jpg');
}

/* Background image for the about page */
#about {
  background-image: url('images/IMG_4784.JPG');
}

/* Background image for the contact page */
#contact {
  background-image: url('images/IMG_4784.JPG');
}
.bg{
  width: 100%;
  height: 100%;
}
